@import "reset.css";

body {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-form img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 2px 5px 3px -2px rgba(0, 0, 0, 0.4);
}
#login-form div {
  margin-top: 21px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#login-form input {
  margin-top: 14px;
  padding: 7px;
  border-radius: 20px;
  border: none;
  opacity: 50%;
}

.hidden {
  display: none;
}

.box-container {
  display: flex;
  align-items: center;
}

.box {
  height: 200px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 30px;
  margin: 10px 10px;
  padding: 20px;
  box-sizing: border-box;
}

.box--single {
  width: 200px;
}

.box--double {
  width: 420px;
}

.box--quater {
  width: 420px;
  height: 420px;
}

#clock {
  font-size: 70px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 10px;
}

#weather {
  font-size: 18px;
}
#weather__temperature {
  font-size: 50px;
  margin-bottom: 30px;
}

#todo__input {
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  height: 30px;
  opacity: 0.4;
  margin-left: 10px;
  margin-bottom: 10px;
}

#todo__list {
  list-style: none;
  padding-left: 20px;
}

.todo__button {
  border: 1px solid white;
  border-radius: 100%;
  opacity: 0.6;
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.todo__span {
  padding-left: 10px;
}
